.genre-body{

padding: 20px;
z-index: 12!important;
}
.d-none{
    display: none;
}
.d-block{
    position: absolute;
   width: 790px;
    display: block;
    top: 82px;
    background-color: #F6F7F9;
   transition: top .5s linear;
    min-height: 200px;
    z-index: 11!important;
}
.gener-a{
color: black;

}
.gener-a:hover{
    color: #5dc9f3;
    transition: all .2s ;
}
.genre-title-parent{
    display: block;
    text-align: start;
    padding: 20px 0;
}
.genre-title{
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0px;
    border-bottom:  1px solid rgba(128, 128, 128, 0.63);
}
.gener-li{
    font-size: 13.5px;
    min-width: 100px;
  text-align: start;
}