.pagitation{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.pagitation>li{
    padding: 1rem;
}
.selected{
    background-color:#0F9ED1;
}
.next>a{
    color: rgb(204, 204, 204);
}
.previous>a{
    color: rgb(204, 204, 204);

}
@media only screen and (max-width: 600px) {
    .pagitation>li{
        padding: .5rem;
        font-size: 11px;
    }
    .previous>a{
       font-size: 10px;
    }
    .next>a{
        font-size: 10px;
    }
    .pagitation>ul{
        overflow: hidden;
    }
    .pagitation{
        padding: 20px 0px;
        width: 100%;
    }
}